


.opacityLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    opacity: 0;
    transition: opacity 400ms;
    opacity: 1;
}
.videoPlayer {
    position: relative;
    width: 85%;
    aspect-ratio: 16 / 9;
    background-color: white;
    transform: scale(0.2);
    transition: transform 250ms;
    transform: scale(1);
}
.closeBtn {
    position: absolute;
    top: -20px;
    right: 0;
    color: white;
    cursor: pointer;
}