
.playBtn{
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s ease;
}
.playBtn:hover{
    border: 2px solid var(--pink);
}
.playBtn:hover i{
    transform: rotate(360deg);
    color: var(--pink);
}